DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

REDIS_HOST=
REDIS_PORT=

BASE_URL=https://jahongiracademy.uz
BOT_TOKEN=123456789:bot_token
ADMIN_ID=

CERTIFICATE_ID=certificate_file_id1,certificate_file_id2,certificate_file_id3,certificate_file_idn
CHANNELS_ID=channel_url
